/*--------------------------------
    Gtenbergエディター内容出力エリア
--------------------------------*/
.bl_entryContent {
    margin: 0;
    > *:first-child { // 最上段のブロックは上マージンを削除（最優先処理）.
		margin-top: 0!important;
    }
	> * {
		margin-bottom: 1em; // 全てのブロックで下マージンを設定（接触回避）.
	}
	> *:last-child {
		margin-bottom: 0!important; // 最下段のブロックは下マージンを削除（最優先処理）.
	}
    h2, h3, h4, h5, h6 { // 見出し全般のスタイルを定義.
        font-weight: bold;
        line-height: 1.5;
        font-feature-settings: "palt";
        margin-top: 2.2em;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-size: 1.6rem;
        border-bottom: 1px solid $content_uCoror;
        padding-bottom: 0.1em;
        @include media(sm) {
            font-size: 1.5rem;
        }
    }
    h3 {
        font-size: 1.4rem;
        @include media(sm) {
            font-size: 1.25rem;
        }
    }
    h4 {
        font-size: 1.2rem;
        @include media(sm) {
            font-size: 1.2rem;
        }
    }
    p {
        line-height: 1.9;
    }
    .wp-block-table { // テーブルブロック.
        border: 1px solid $content_uCoror;
        @include media(sm) {
            border-right-width: 0;
            overflow-x: auto;
        }
        table {
            width: 100%;
            table-layout: fixed;
            @include media(sm) {
                width: auto;
                min-width: 100%;
            }
        }
        thead tr {
            background-color: #efefef;
            text-align: center;
        }
        th {
            font-weight: bold;
        }
        th,
        td {
            padding: 15px;
            border-right: 1px solid $content_uCoror;
            border-bottom: 1px solid $content_uCoror;
            vertical-align: middle;
            @include media(sm) {
                white-space: nowrap;
            }
        }
        th:last-child,
        td:last-child {
            border-right-width: 0;
            @include media(sm) {
                border-right-width: 1px;
            }
        }
        tbody tr:last-child td,
        tfoot tr:last-child td {
            border-bottom-width: 0;
        }
        tfoot {
            border-top: 1px solid $content_uCoror;
        }
    }
    blockquote { // 引用ブロック.
        color: #777;
    }
    .wp-block-quote { // ブロッククオート.
        border-left: 5px solid $content_uCoror;
        padding: 1em;
        padding-right: 0;
        margin: 1.5em 0;
    }
    .wp-block-pullquote { // プルクオート.
        text-align: center;
        padding: 1em;
        margin: 1.5em 0;
        border-top: 5px solid $content_uCoror;
        border-bottom: 5px solid $content_uCoror;
    }
	.post-thumbnail { // サムネイル.
		text-align: center;
	}
}