.bl_headerNav { //グローバルナビゲーション
    display: flex;
    justify-content: space-between;
    & > li {
        flex-grow: 1;
        text-align: center;
        &:last-child > a::after {
            content: none;
        }
        & > a {
            position: relative;
            display: block;
            padding: 15px 5px;
            border-bottom: 4px solid transparent;
            color: $base_fontColor;
            text-decoration: none;
            transition: .25s;
            &:focus,
            &:hover {
                border-bottom-color: $accent_color;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: #ddd;
                transform: translateY(-50%);
            }
        }
    }
}

.js_stickyNav > .bl_headerNav { //ヘッダー固定ナビ
    display: flex;
    justify-content: space-between;
    & > li {
        flex-grow: 1;
        text-align: center;
        &:last-child > a::after {
            content: none;
        }
        & > a {
            position: relative;
            display: block;
            padding: 10px 5px;
            border-bottom: 4px solid transparent;
            color: $base_fontColor;
            text-decoration: none;
            transition: .25s;
            &:focus,
            &:hover {
                border-bottom-color: $accent_color;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: #ddd;
                transform: translateY(-50%);
            }
        }
    }
}

.js_stickyNav {
    transition: 1s;
    top: -100px;
    visibility: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    @include media(sm) {
        display: none;
    }
}

.js_stickyNav.is_scroled { //スクロール発火によるヘッダー固定ナビ
    visibility: visible;
    top: 0;
}

body.admin-bar .js_stickyNav.is_scroled {
    top: 32px;
}