/*--------------------------------
    縦並びナビゲーション（Footer内利用を想定）
--------------------------------*/
.bl_vertNavUnit {
	margin: 0 -30px;
    display: flex;
	color: $footer_fontColor;
	> * {
		flex: 1;
	}
}

.bl_vertNav {
	@include ul;
	margin: 0 30px;
	a {
		text-decoration: none;
		color: inherit;
	}
	> li {
		@include fontSize(14);
		vertical-align: middle;
		white-space: nowrap;
		line-height: 1;
		&::before {
			margin-right: 15px;
			@include fas;
			content: '\f068';
			@include fontSize(12);
		}
		&:not(:first-child) {
			margin-top: 20px;
		}
		&.current-menu-item { // カレント表示.
			color: $accent_color;
			> a {
				color: inherit;
			}
		}
	}
}
