/*--------------------------------
    管理者情報を縦並びで表示
--------------------------------*/
.el_adminInfo {
	@include ul;
    color: $footer_fontColor;
    & > *:last-child {
        margin-bottom: 0;
    }
}
.el_adminInfo_data {
    @include fontSize(14);
    line-height: 1;
	&:not(:first-child) {
		margin-top: .875em;
	}
}