//--------------------------------
//  アラインメント
//--------------------------------
//------ 横位置 -------//
.hp_tac {text-align: center;}
.hp_tal {text-align: left;}
.hp_tar {text-align: right;}
.hp_taj {text-align: justify;}
.hp_tall {text-align-last: left;}
//------ 縦位置 -------//
.hp_verticalTop {vertical-align: top;}
.hp_verticalMiddle {vertical-align: middle;}
.hp_verticalBottom {vertical-align: bottom;}