/*--------------------------------
    フッター
--------------------------------*/
.ly_footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $footer_background;
}

.ly_footer_inner {
	@include contentArea;
}

/*------ コピーライト -------*/
.el_copyright {
    display: block;
    color: $footer_fontColor;
    font-size: 12px;
}

.ly_footer .el_copyright {
    padding-top: 10px;
    text-align: center;
}

/*------ サイトタイトル -------*/
.ly_footer .el_siteTtl {
    margin-bottom: 1em;
}