/*--------------------------------
    フッター
--------------------------------*/
.ly_footer_wrapper {
	padding-top: 30px;
	background-color: $footer_background;
	.el_adminInfo {
		margin-top: 30px;
	}
}

.ly_footer {
	@include contentArea;
	&.top {
		display: grid;
		grid-template-columns: 1fr auto auto;
		gap: percentage(60 / $content_width_calc);
	@include media(sm) {
		display: block;
		> *:not(:first-child) {
			margin-top: 20px;
		}
	}
	}
	&.bottom {
		padding: 20px 0;
	}
}

/*------ コピーライト -------*/
.el_copyright {
    display: block;
    color: $footer_fontColor;
    font-size: 12px;
	text-align: center;
}