/*--------------------------------
    ヘッダー
--------------------------------*/
.ly_header{
    padding: {
        top: 20px;
    }
    border: {
        bottom: 1px solid $base_borderColor;
    }
    &_inner{
        @include contentArea;
        @include media(sm) {
            padding-top: 5px;
        }
    }
}

.bl_headerUtils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    & .el_btn { //お問い合わせボタン
        width: auto;
        padding: 10px 20px;
        box-shadow: none;
    }
}