/*--------------------------------
    ヘッダー
--------------------------------*/
.ly_header_wrapper {
	background-color: $header_background;
	border-bottom: 1px solid; 
	border-color: $theme_borderColor;
}

.ly_header {
	@include contentArea;
	display: flex;
	flex-wrap: wrap;
}

.ly_header_inner {
	&.left {
		padding: 15px 40px 15px 0;
		flex: 1;
	}
}