//--------------------------------
//  ルートフォントサイズ（remの基本サイズ：100％で16px）
//--------------------------------
$root_em: 100;

//--------------------------------
//  フォントファミリー
//--------------------------------
//------ webフォント呼び出し -------//
@font-face {
	font-family: "Roboto";
	font-style: nomal;
	font-weight: 400;
	src: url("../font/roboto-regular.woff2") format("woff2"),
		 url("../font/roboto-regular.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	font-style: nomal;
	font-weight: 700;
	src: url("../font/roboto-bold.woff2") format("woff2"),
		 url("../font/roboto-bold.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansJP";
	font-style: nomal;
	font-weight: 400;
	src: url("../font/notosansjp-regular.woff2") format("woff2"),
		 url("../font/notosansjp-regular.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-family: "NotoSansJP";
	font-style: nomal;
	font-weight: 700;
	src: url("../font/notosansjp-bold.woff2") format("woff2"),
		 url("../font/notosansjp-bold.woff") format("woff");
	font-display: swap;
}
//------ ゴシック体 -------//
$base_fontFamily: "Roboto","NotoSansJP","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;

//------ 明朝体 -------//
$sub_fontFamily: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

//--------------------------------
//  line-height
//--------------------------------
$leading-none: 1 !default;
$leading-x-tight: 1.25 !default;
$leading-tight: 1.5 !default;
$leading-snug: 1.6 !default;
$leading-normal: 1.7 !default;
$leading-relaxed: 1.8 !default;
$leading-loose: 2 !default;

//--------------------------------
//  フォントカラー
//--------------------------------
//------ デフォルトテキスト -------//
$base_fontColor: #333;

//------ リンクテキスト -------//
$anchor_fontColor: #0069ff;

//------ フッターテキスト -------//
$footer_fontColor: #fff;

//------ ヘッダーテキスト -------//
$header_fontColor: #fff;

//--------------------------------
//  テーマカラー
//--------------------------------
//------ ボディーカラー -------//
$body_color: #fff;
//------ ベースカラー -------//
$theme_color: #074750;

//------ アクセントカラー -------//
$accent_color:  #92C130;

//------ サブカラー -------//
$sub_color:  #074750;

$second_color:  #EDF5F5; //削除予定
$layer_color: #fff; //削除予定

//--------------------------------
//  ユーティリティーカラー
//--------------------------------
//------ ボーダー -------//
$base_borderColor: #DDD; //削除予定
$theme_borderColor: #DCE8E3;
//------ wysiwygユーティリティ -------//
$content_uCoror: #ddd;

//--------------------------------
//  エリアカラー
//--------------------------------
//------ フッター背景 -------//
$footer_background: #3C6668;

//------ ドロワーメニューエリア -------//
$mobileMenu_bg: #fff; //エリア内背景色
$mobileMenu_fc: #333; //エリア内文字色
$mobileMenu_bc: #ccc; //エリア内線色

//--------------------------------
//  ブレイクポイント
//--------------------------------
//------ モバイル -------//
$breakpoint_small: 767px;

//------ タブレット -------//
$breakpoint_medium: 1020px;

//--------------------------------
//  コンテンツ幅、ガター
//--------------------------------
//------ コンテンツ幅（数値） -------//
$content_width_calc: 1200;

//------ コンテンツ幅（px） -------//
$content_width: $content_width_calc * 1px;

//------ コンテンツエリア左右ガター -------//
$content_gutter: 15px;

//--------------------------------
//  コンテンツ上下パディング
//--------------------------------
//------ デスクトップ・タブレット -------//
$containerPadding: 120px;

//------ モバイル -------//
$containerPadding_sm: 60px;